body{
    background-color:gray
}

#banner{
    width: 100%;
}

h1{
    text-align: center;
}

p {    
    text-align: center;
    background: gray;
}

#missao{
    font-size: 20px; 
    text-align: center;
}

em strong {
    color: #ff0000
}
